<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav style="width: 100%; ">
      <ul style="display: flex; justify-content: space-evenly; background-color: blue; width: 100%; padding: 30px 0;">
          <li style="background-color: beige; list-style: none;"><a href="/movies/list">Lista</a></li>
          <li style="background-color: beige; list-style: none;"><a href="/movies/index">Index</a></li>
          <li style="background-color: beige; list-style: none;"><a href="/movies/create">Agregar</a></li>
      </ul>
  </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
  
    <ul>
      <li><a href="/movies/index">Peliculas</a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
   
  </body>
</html>
