<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Movies Comision 4</h1>
    <ul>
        <li><a href="/movies/list">Listar todas</a></li>
        <li><a href="/movies/create">Agregar película</a></li>

    </ul>

    <form action="/movies/search">
        <input type="text" name="busqueda" placeholder="busca tu pelicula">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>