<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="width: 100%; ">
        <ul style="display: flex; justify-content: space-evenly; background-color: blue; width: 100%; padding: 30px 0;">
            <li style="background-color: beige; list-style: none;"><a href="/movies/list">Lista</a></li>
            <li style="background-color: beige; list-style: none;"><a href="/movies/index">Index</a></li>
            <li style="background-color: beige; list-style: none;"><a href="/movies/create">Agregar</a></li>
        </ul>
    </nav>
    <h1>Agregar pelicula</h1>
    <form action="" method="POST">
        <label for="">titulo</label>
        <input type="text" name="title">
        <br>
        <label for="">rating</label>
        <input type="number" name="rating" step="0.1" min="0">
        <br>
        <label for="">premios</label>
        <input type="number" name="awards" min="0">
        <br>
        <label for="">fecha de estreno</label>
        <input type="date" name="release_date">
        <br>
        <label for="">duración</label>
        <input type="number" name="length" min="0">
        <br>
        <select name="genre_id" id="">
            <option value="" selected hidden>Elige el género</option>
            <% generos.forEach(genero => { %>
                <option value="<%= genero.id %> "><%= genero.name %> </option>
            <% }) %>
        </select>
        <br><br>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>